*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, Arial, sans-serif;
}
.whole{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.white{color:#fff};
.ocolor{color: #323a46;}
.fontcolor{color: #6e768e;}
.navBar2{    
    display: flex;
    width: 100%;
    height: 10%;
    position:fixed;    
    flex-direction: row;
    justify-content: space-between;
    background-color: #323a46;
    z-index: 100000;
    flex-shrink: 1;
}
.navStart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10%;
    justify-content: flex-start;
}
.navEnd{
    display: flex;
    gap:10%;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
.navItem{
    width: 10%;
    height: 70%;
}
.content{
    height: 400vh;
    width: 100%;
    display: flex;
    position: relative;
}
.sideBar{
    height: 100vh;
    width: 20vh;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    gap:1%;
}
.search input{
    background-color: #323a46;
    height: 30%;
}
.light input{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.sideBar a{
    text-decoration: none;
    color: #6e768e;
}
.sideItem{
    width: 100%;
    height: 10%;
    text-align: center;
}
.sideItem:hover,.navItem:hover{
    transition: .1s;   
    transform: scale(1.5);
    text-decoration: underline;
    
}
.container{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    background-color: #f2f5f7;
    flex-grow: 1;    
}
.bar{
    display: inline-block;
    background: white;
    width: 25px;
    height: 1px;
    position: relative;
    
}
.bar::after,.bar::before{
    display: inline-block;
    background: white;
    width: 100%;
    height: 1px;
    position: absolute;
    content: "";
}
.bar::after{
    bottom: 5px;
    content: "";
}
.bar::before{
    top: 5px;
    content: "";
}
.logo img{
  width: auto;
  max-height: 100%;
}


/* For Desktop more than 1030px */
@media screen and (min-width:1030px)
{
    .sideBar{display: flex;}
}

