*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: row;
}

.toggle{
cursor: pointer;
}
.bar{
    display: inline-block;
    background: white;
    width: 30%;
    height: 1px;
    position: relative;
}
.bar::after,.bar::before{
    display: inline-block;
    background: white;
    width: 100%;
    height: 1px;
    position:absolute;
}
.bar::after{
    bottom: 300%;
    content: "";
}
.bar::before{
    top: 300%;
    content: "";
}



/* Desktop */
.desktop{
    width: 7%;
}
.navBar{    
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    flex-direction: column;
}

.navBar a{
    text-decoration: none;
    color: #f3f3f3
}
.navItem{
    justify-content: center;    
    margin-top: 30%;    
    text-align: center;    
    border-radius: 35%;
    text-shadow: 1px 1px #525252;
    
}
.navItem:hover{
    transition: .1s;   
    transform: scale(1.5);
    text-decoration: underline;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 97%;
    background-color: #181818;
}


